<p id="notice"><%= notice %></p>

<h1>MLTS Screenings Map Generator</h1>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?#{@url_params}" %>
<%= "http://maps.googleapis.com/maps/api/staticmap?#{@url_params}" %>


<%# http://maps.googleapis.com/maps/api/staticmap?size=600x400&markers=33.39467,-111.9252566&markers=3.39467,-11.9252566&sensor=true %>

<br>

<%# <%= link_to 'New Screening', new_screening_path %> %>
