<p id="notice"><%= notice %></p>

<h1>MLTS Screenings Map Generator</h1>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?#{@url_params}" %>
<%= "http://maps.googleapis.com/maps/api/staticmap?#{@url_params}" %>

<br>

<%# <%= link_to 'New Screening', new_screening_path %> %>
